{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}


    <h2>
        {{ title }}
    </h2>


    {% if errors %}



        <div class="panel-warnings">

        {% for error  in errors %}

            <p class="error"> {{ error.message  }}</p>


        {% endfor %}
        </div>
        <div class="buttons-bottom">
            <a href="{{ currentStepLink.href  }}" class="launch_ximdex action_launcher" alt="Check System" title="Check System">
                Check Again
                &nbsp;
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    {% else %}

        <p>Tables and default data created </p>


        <div class="buttons-bottom">
            <a class="launch_ximdex action_launcher" href="{{ nextStepLink.href }}" class="btn btn-default"
               alt="Start Installation" title="Start Installation">
                Continue: {{  nextStepLink.label }}
                &nbsp;
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

    {% endif %}

{% endblock %}