{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}


    <h2>
        {{ title }}
    </h2>
    
    <p>
		Ximdex CMS needs a database system to work. Parameters to connect to the database will be asked: host and port of the server, a database already created but empty and the DB user with permissions to write into the provided database with its password.
	</p>
	<p>
		When the connection to the DB is OK, the installation will go to the next step to populate the DB.
	</p>

        <p>
            Please, provide the database connection parameters:
        </p>

        <form action="{{ currentStepLink.href  }}" method="POST" onsubmit="ShowLoading()">
            <!-- DB HOST -->
            <div class="form_item">
                <label for="form-dbhost">Database host:</label>
                <input type="text" name="dbhost" placeholder="Host" value="{{ form.dbhost }}">
            </div>

            <!-- DB PORT -->
            <div class="form_item">
                <label for="dbport">Database port:</label>
                <input type="text" name="dbport" placeholder="Port" value="{{ form.dbport }}">
            </div>

            <!-- DB USER -->
            <div class="form_item">
                <label for="dbuser">Database user:</label>
                <input type="text" name="dbuser" placeholder="DB User" value="{{ form.dbuser }}">
            </div>

            <!-- DB PASS -->
            <div class="form_item">
                <label for="dbpass">Database password:</label>
                <input type="password" name="dbpass" placeholder="DB Password" value="{{ form.dbpass }}">
            </div>

            <!-- DB NAME -->
            <div class="form_item full-width">
                <label for="dbname">Database name:</label>
                <input type="text" name="dbname" placeholder="ximdex" value="{{  form.dbname  }}">
            </div>


    {% if errors  %}
    <div class="panel-warnings">

        {% for error  in errors %}

            <p class="error"> {{ error.message  }}</p>

        {% endfor %}
    </div>
    <div class="buttons-bottom">
        <button id="submitButton" type="submit" class="launch_ximdex action_launcher" alt="Check tables structure" title="Check">
            Check Again
            &nbsp;
            <span class="glyphicon glyphicon-cog"></span>
        </button>

    </div>
    {% else  %}

        {%  if form.submitted  %}
        {# next step #}
            <div class="buttons-bottom">
                <a class="launch_ximdex action_launcher" href="{{ nextStepLink.href }}" class="btn btn-default"
                   alt="Continue: {{  nextStepLink.label }}" title="Continue: {{  nextStepLink.label }}">
                    Continue: {{  nextStepLink.label }}
                    &nbsp;
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        {% else  %}
            <button id="submitButton" type="submit" class="launch_ximdex action_launcher" alt="Check tables structure" title="Check Connection to DB">
                Check Connection to DB
                &nbsp;
                <span class="glyphicon glyphicon-cog"></span>
            </button>

        {% endif  %}

    {% endif %}

            <script type="text/javascript">
                function ShowLoading(e) {
                    var submitButton = document.getElementById("submitButton");
                    submitButton.classList.add('btn-loading');
                    return true;
                }
            </script>
        </form>

{% endblock %}