{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}


    <h2>
        {{ title }}
    </h2>
    
    <p>
		XCMS needs PHP with some dependencies, etc. 
	</p>
	<p>
		Let's make a quick check...
	</p>


    {% if errors %}



        <div class="panel-warnings">

        {% for error  in errors %}

            <p class="error"> {{ error.message  }}</p>


        {% endfor %}
        </div>
        <div class="buttons-bottom">
            <a href="{{ currentStepLink.href  }}" class="launch_ximdex action_launcher" alt="Check System" title="Check System">
                Check Again
                &nbsp;
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    {% else %}




        <div class="buttons-bottom">
            <a class="launch_ximdex action_launcher" href="{{ nextStepLink.href }}" class="btn btn-default"
               alt="Check System" title="Check System">
                Check System
                &nbsp;
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

    {% endif %}

{% endblock %}